<!DOCTYPE html>
<html>
<head>
	<title>registration Page</title>
	
</head>
<body>
	<h1>Admin/Moderator Registration page</h1>

	<a href="/user/Acreate">Admin Registration</a> |
	<a href="/user/Mcreate">Moderator Registration</a> |
	<a href="/logout">logout</a>

</body>
</html>