<!DOCTYPE html>
<html>
<head>
	<title>Admin Profile Page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<h4>Admin Home Page</h4>
   <div class="menu-bar">
	 <ul>
	 	<li><a href="#"><i class="fa fa-home"> </i> Home </a></li>
	 	<li><a href="#"><i class="fas fa-user"></i> Profile </a>
	 		<div class="sub-menu-1">
				<ul>
					<li><a href="/adminhome/profile"> Profile View</a></li>
					<li><a href="/user/Aupdate"> Update Info </a></li>
				</ul>
			</div>
	 	</li>
		<li><a href="/user/Usercreate"><i class="fas fa-angle-double-up"></i> Create User </a>	</li>
		<li><a href="#"><i class="fa fa-list"> </i> List </a>
			<div class="sub-menu-1">
				<ul>
					<li><a href="adminhome/moderatorlist">Moderator</a></li>
					<li><a href="adminhome/userlist">User</a></li>
				</ul>
			</div>
		</li>
		 <li><a href="#">Content Update</a></li>

		 <li><a href="/logout"><i class="fas fa-running"></i>Logout</a></li>
	 </ul>
	</div>


</body>
</html>