<!DOCTYPE html>
<html>
<head>
	<title>Moderator creation</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Moderator Registration</legend>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" name="email"></td>
				</tr>
				<tr>
					<td>Mobile Number</td>
					<td><input type="text" name="mobileno"></td>
				</tr>

				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Create"></td>
				</tr>

				<tr>
					<td>Already have a account !
					<a href="/login/Mlogin">login</a> </td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>