<!DOCTYPE html>
<html>
<head>
	<title>Manager Home Page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="menu-bar">
	 <ul>
	 	<li><a href="#"><i class="fa fa-home"> </i> Home </a></li>
	 	<li><a href="/Mhome/profile"><i class="fas fa-user"></i> Profile </a></li>
		<li><a href="#"><i class="fas fa-angle-double-up"></i> Update Info </a>
			<div class="sub-menu-1">
				<ul>
					<li><a href="user1/update"> Personal Info</a></li>
					<li><a href="/user1/empAdd"> Add Employees </a></li>
				</ul>
			</div>
		</li>
		<li><a href="#">  Pay Salary </a>
			<div class="sub-menu-1">
				<ul>
					<li><a href="/Mhome/empsalarylist">Employees</a></li>
					<li><a href="/Mhome/empsalaryinfolist">Employees salary List</a></li>
				</ul>
			</div>
        </li>
		<li><a href="#"><i class="fa fa-list"> </i> List </a>
			<div class="sub-menu-1">
				<ul>
					<li><a href="Mhome/cuslist">Customer</a></li>
					<li><a href="Mhome/emplist">Employee</a></li>
				</ul>
			</div>
		</li>
		<li><a href="/Mhome/transactionlist"> <i class="fas fa-eye"></i> TransitionInfo </a></li>
		
		 <li><a href="/logout"><i class="fas fa-running"></i>Logout</a></li>
	 </ul>
	</div>


</body>
</html>