<!DOCTYPE html>
<html lang="en">
<head>
  <title>ManagerList</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
</head>
<body>

<div class="container">  
  <table class="table table-dark table-hover">
    <thead>
      <tr>
          <th>User Name</th>
					<th>Message</th>
					<th>Date</th>
			</tr>
    </thead>
    <tbody>
        <% 
        users.forEach( function(std){ %>
        <tr>
            <td><%= std.SendFrom %></td>
            <td><%= std.Message %></td>
            <td><%= std.Date %></td>
            
        </tr>
    <%
        }); 
    %>
    </tbody>
  </table>
</div>
<a class="text-info" href="/adminhome">Back</a>

</body>
</html>